<div id="<%= dom_id song %>">
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= song.release_year %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= song.genre %>
  </p>

</div>
